<h1>Welcome to BookReview</h1>

<br></br>

<% if !logged_in? %>
    <%= link_to 'Signup', signup_path %>
    <%= link_to 'Login', login_path %>

    <% else %>

    <wrapper>
        <div class="box" style="width: 10rem;">
        <div class="box-body">
        <h3><%=link_to 'Books', books_path %></h3>
        <p class="box-text">Books You've Read</p>
            </div>
        </div>

        <div class="box" style="width: 10rem;">
        <div class="box-body">
        <h3><%=link_to 'Reviews', reviews_path %></h3>
        <p class="box-text">Review the Books You've Read</p>
            </div>
        </div>
    </wrapper>
    
<% end %>